/*Style guide*/
/*CSS Reset to remove all styling and remove browser inconsistencies*/
@import url(./reset.css);
/*Import fonts and icons*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic);
@import url(https://fonts.googleapis.com/css?family=Arimo:400,100,200,300,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Arvo);
@import url(https://fonts.googleapis.com/css?family=Vollkorn);
@import url(https://fonts.googleapis.com/css?family=Merriweather+Sans);
@import url(http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
/*Responsive*/
@import url(./responsive.css);

/* Basic styles*/

*, *:before, *:after {
    box-sizing: border-box;
}

a, a:visited, a:focus {
    text-decoration: none;
}

a:active {
    color: #FFFFCC;
}

a {
    color: #FFFFCC;
    transition: color 0.25s linear;
}

a:hover {
    color: rgb(173, 200, 219);
}

/* Icons */

.icon {
    text-rendering: geometricPrecision;
    font-size: 1.5rem;
    color: #ccc;
    transition: color 0.25s linear;
}

.icon:hover {
    color: #fff;
}

/* images */
.index-page .photo-post-photo {
    max-width: 250px;
    width: 250px;
    height: auto;
    display: block;
}

.work_thumb img {
    width: 100%;
    height: auto;
}

img {
    max-width: 100%;
    vertical-align: middle;
    -ms-interpolation-mode: bicubic;
}

img {
    vertical-align: middle;
}

img {
    border: 0;
    -ms-interpolation-mode: bicubic;
}

article {
    display: block;
}

@media only screen and (max-width: 800px) {
    .col {
        width: 50%;
    }
}

@media only screen and (max-width: 1200px) {
    .col, .col_1 {
        width: 33.3333%;
    }
}

@media only screen and (max-width: 1400px) {
    .col, .col_1 {
        width: 25%;
    }
}

.col {
    width: 20%;
    float: left;
}

html, body {
    overflow-x: hidden;
}

html {
    height: 100%;
    /*declare a font size so we can use rem (relative to root element) units*/
    font-size: 16px;
}

body {

    /*colors and fonts*/
    font-family: 'Vollkorn', 'serif';
    font-size: 1rem;
    font-weight: 400;
    color: #ccc;

    /*typography*/
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: subpixel-antialiased;
    line-height: 1.5;

    /*alignment and display*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /*background*/
    background-color: #19416e;
    background-size: cover;
}

@media screen and (min-width: 480px) {
    body {
        background-image: url("/img/mobile-paper-texture.png");
    }
}

.tagline {
    font-size: 1rem;
    padding: 2px;
    text-align: center

}

.taglineitalic {
    font-style: italic;
}

.courselist {
    justify-content: left;
    text-align: left;
}
    /*Header*/

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1rem;
    text-transform: uppercase;
}

h1 {
    font-family: 'Merriweather Sans', 'sans-serif';
    font-weight: 600;
    text-align: center;
    font-size: 3.2rem;
    line-height: 1;
    margin: 0 -601.5rem;
    padding: .1rem 601.5rem;
    color: white;
}

h2 {
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 600;

    font-size: 2rem;
    line-height: 2;
    margin: 1rem -601.5rem 0 0;
    padding: 2rem 601.5rem 0 0;

}

h3 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: .5rem;
}

h4, h5, h6 {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5em;
}

p {
    width: 100%;
    justify-content: center;
}

/*Section – Main*/

section {
    display: flex;
    margin: 0 auto;
    padding: 0px;

    justify-content: center;
    width: 100%;
}

.photo {
    max-width: 200px;
    background-size: 100px 100px;
    border-radius: 50%;
    border: 0px solid #ccc;
    padding: 0px;
    box-shadow: 0px 0px 0px 0 #ccc;
    margin-bottom: 1rem;
}

ul.list {
    width: 100%;
    list-style-type: disc;
}

.text-area {
    padding: 5%;
}

.footer-area {

}

nav {
    font-family: 'Merriweather Sans', 'sans-serif';
}

nav ul {
    display: flex;
    margin: 0 auto;
    padding: 0px;
    justify-content: center;
    width: 100%;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav .active {
    background-color: rgb(173, 200, 219);
}

/*Footer*/

footer {
    display: flex;
    justify-content: center;
    padding-top: 0px;
}

footer ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer ul li {
    margin-right: 1rem;
}

footer ul li:last-child {
    margin-right: 0;
}

