@import url(./reset.css);
/*Import fonts and icons*/
@import url(https://fonts.googleapis.com/css?family=Merriweather+Sans);
@import url(http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);

/* Basic styles*/

.resume-container {
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: 80%;
}

.info {
}

*, *:before, *:after {
    box-sizing: border-box;
}

a, a:visited, a:focus {
    text-decoration: none;
}

a:active {
    color: black;
}

a {
    /*color: ;*/
    color: #19416e;
    transition: color 0.25s linear;
}

a:hover {
    color: rgb(173, 200, 219);
}

/* Icons */

.icon {
    text-rendering: geometricPrecision;
    font-size: 1.5rem;
    color: black;
    transition: color 0.25s linear;
}

.icon:hover {
    color: rgb(173, 200, 219);
}

html, body {
    overflow-x: hidden;
}

html {
    height: 100%;
    /*declare a font size so we can use rem (relative to root element) units*/
    font-size: 16px;
}

body {

    /*colors and fonts*/
    font-family: 'Merriweather Sans', 'sans-serif';
    font-size: 1rem;
    font-weight: 400;
    color: black;

    /*typography*/
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: subpixel-antialiased;
    line-height: 1.5;

    /*alignment and display*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /*background*/
    background: white url(../img/neweggshellsection.png);
    background-size: cover;
}

@media screen and (max-width: 480px) {
    html {
        font-size: 8px;
    }

}

.tagline {
    font-size: 1rem;
    padding: 2px;
    text-align: center

}

.taglineitalic {
    font-style: italic;
}

/*Header*/

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1rem;
    text-transform: uppercase;
}

/* name header */
h1 {
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 600;

    font-size: 3rem;
    line-height: 1;
    margin: 0 -601.5rem;
    padding: 1rem 601.5rem;
    color: black;
}

/* subtitle headers */
h2 {
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 600;

    font-size: 2rem;
    line-height: 2;
    margin: 1rem -601.5rem 0 0;
    padding: 2rem 601.5rem 0 0;

}

h3 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: .5rem;
}

h4, h5, h6 {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5em;
}

h1.center, h2.center, h3.center, h4.center  {
    text-align: center;
}

p.resume {
    width: 100%;
    justify-content: center;
}

p.italic {
    font-style: italic;
}

p.center {
    text-align: center;
}

p.right {
    float: right;
}

p.left {
    float: left;
}

/*Section – Main*/
section {
    display: flex;
    margin: 0 auto;
    padding: 0;
    justify-content: center;
    width: 100%;
}

.photo {
    max-width: 200px;
    background-size: 100px 100px;
    border-radius: 50%;
    border: 0 solid #ccc;
    padding: 0;
    box-shadow: 0 0 0 0 #ccc;
    margin-bottom: 1rem;
}

ol {
    margin-left: 50px;
    list-style-type: disc;
}

ul.list {
    width: 100%;
    list-style-type: disc;
}

ul.indent {
    margin-left: 50px;
}

ul.resume-container {
    padding: 10px;

}

ul.main-area {
    padding: 15%;
}

.main-area {
    padding: 5%;
}

.footer-area {
}

nav ul {
    display: flex;
    margin: 0 auto;
    padding: 0px;
    justify-content: center;
    width: 100%;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav .active {
    background-color: rgb(173, 200, 219);
    color: whitesmoke;
}

/*Footer*/

footer {
    display: flex;
    justify-content: center;
    padding-top: 0;
}

footer ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer ul li {
    margin-right: 2rem;
}

footer ul li:last-child {
    margin-right: 0;
}